@model Faucet.Web.ViewModels.TransactionViewModel

@{

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SoftUniChain Faucet</h1>
    <p class="lead">

        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
        <p>
            Enter your SoftUniChain account address: @Html.TextBoxFor(x => x.To, "0x....") <br />
            <input type="submit" value="Send me 3 coins" />
        </p>
    }



        </p>

        <p>
            @if (Model != null && !string.IsNullOrEmpty(Model.transactionHash))
            {
               <span>TxID: </span> <a href="/">@Model.transactionHash </a>
            }

            @*@if (Model != null && !string.IsNullOrEmpty(Model.MessageResponse))
            {
                @Html.DisplayTextFor(x => x.MessageResponse)
            }*@

        </p>
    </div>
