@model Faucet.Web.ViewModels.TransactionViewModel

@{

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SoftUniChain Faucet</h1>
    <p class="lead">
        Enter your SoftUniChain account address: <input type="text" />
        <br />
        <button>Send me 3 coins</button>


    </p>
</div>
